#maindiv {
    display: flex;
    border: solid grey;
    width: 300px;
    flex-wrap: wrap;
    border-radius: 10px;
    background:linear-gradient(140deg,cyan,white,orange,red);
}

body{
    padding-top: 150px;
    background:linear-gradient(140deg,cyan,white,orange,red);
    background-repeat: no-repeat;
    padding-bottom: 400px;
}


#maindiv>h2{
color: maroon;
width: fit-content;
margin: auto;
padding: 10px;
text-shadow: 2px -1px gray;
height: fit-content;
}

#maindiv>a {
    width: 250px;
    margin: auto;
}

#maindiv>a>button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(0, 137, 179);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#maindiv>a>button {
    text-decoration: none;
    color: white;
}

#maindiv>a>button:hover {
    background-color: rgb(0, 161, 209);
}

#main{
    display: flex;
    gap: 40px;
    border: 2px solid grey;
    width: fit-content;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    background:linear-gradient(140deg,cyan,white,orange,red);
}